#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#berry-logo {
  height: 20rem;
  width: fit-content;
  margin: 5rem;
}
ul {
  list-style: none;
}
main{
  margin-top: 10rem;
}
#nav-links {
  display: flex;

}
@media (max-width: 743px) {
 
  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#nav-links {
  margin-left: 10rem;
}
#nav-links.a{
  margin: 1rem;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
  font-family:fantasy
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
#service-card {
  margin:1rem;
  width: 16rem;
}
#sl-img{
  width: 8rem;
  height: 8rem;
}
#sl-text{
  color: beige;
  background-color: rgb(120, 107, 32);
}
.card {
  padding: 2em;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background-color: #f8f8f8;
  padding: 20px;
  z-index: 9999;
  /* Add additional styles as needed */
}



.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  /* Add additional styles for the navigation links */
}
